.large-tile {
  min-height: 50vh;
  width: 100%;
  max-width: 500px;
  border-radius: 5px;
  box-shadow: 0px 2px 10px #282c30;
  background-color: white;
}
.large-tile-inner-container {
  padding: 20px;
}
.heading {
  font-size: 40px;
  margin: 0;
  font-weight: bold;
}
