.large-tile-container {
  min-height: 50vh;
  width: 100%;
}
.large-tile {
  max-width: 600px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 10px #282c30;
  background-color: white;
  margin: 0 auto;
}
.heading {
  font-size: 40px;
  margin: 0;
  font-weight: bold;
}
